@font-face {
  font-family: 'Norse Bold';
  src: url('fonts/norse/Norsebold.otf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  
  display: flex;
}

/* Image sidebar */
.sidebar {
  position: relative;
}

.sidebar-img {
  display: block;

  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Logo  */
.logo {
  font-family: 'Norse Bold';
  font-size: 100px;

  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 22%;

  width: 100%;
  padding: 12px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 110px;
  height: auto;
}

/* Image credit text */
.img-credit {
  position: absolute;
  bottom: 12px;
  left: 32%;
}

.img-credit,
.img-credit a {
  font-size: 14px;

  color: #d7d7d7d0;
}

/* Content section */
.content {
  min-width: 63%;
}

/* Text section */
.text-section {
  background-color: #f9fafb;

  padding: 170px 130px 60px 48px;
}

.text {
  font-size: 24px;
  font-weight: 600;
}

.text:nth-child(2) {
  margin-bottom: 32px;
}

/* Form section */
form {
  background-color: #f9fafb;

  padding-bottom: 204px;
}

/* Form box */
.form-box {
  background-color: #fff;

  box-shadow: 0px 5px 5px lightgray;
  padding: 24px 48px;

  display: flex;
  flex-direction: column;
  gap: 24px
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 72px;
  row-gap: 24px; /* gap if items wrap */
}

label {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;

  color: #5C5C5C;
  
  width: 250px;
}

.form-row input {
  font-size: 16px;

  box-sizing: border-box;

  border: 1px solid #D6D9DC;
  border-radius: 3px;

  width: 100%;
  padding: 7px;

  margin-top: 2px;
}

/* focus */
.form-row input:focus {
  border: 1px solid #0466c8;
  box-shadow: 3px 3px 8px lightgray;
}

/* Invalid */
.form-row input:invalid {
  border: 1px solid #D55C5F;
}

/* Add helping text after the password input if it's invalid */
label:has(#pwd:invalid)::after {
  content: "* Passwords do not match";
  color: #D55C5F;
  font-weight: 500;
  letter-spacing: 0px;
}

/* Create account & login buttons */
.create-account-btn,
.login {
  font-size: 18px;
}

.create-account-btn,
.login-link {
  font-weight: 600;
}

.create-account-btn {
  background-color: #596D48;
  color: #fff;

  padding: 16px 54px;
  margin: 38px 48px;

  border: none;
  border-radius: 8px;

  box-shadow: 3px 3px 5px lightgray;
}

.login {
  margin: 0 48px;
}

.login-link {
  color: #596D48;

  text-decoration: none;
}
